<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <itemManager>
         <providers>
            <add>
               <patch:attribute name="type">SitecoreSuperchargers.GenericItemProvider.Data.Providers.GenericItemProvider, SitecoreSuperchargers.GenericItemProvider</patch:attribute>
            </add>
         </providers>
      </itemManager>
      <pipelines>
         <genericItemProvider>
            <processor type="SitecoreSuperchargers.GenericItemProvider.RSS.Processor,SitecoreSuperchargers.GenericItemProvider.RSS">
               <param desc="FeedUrl">http://pipes.yahoo.com/pipes/pipe.run?_id=ZsFOz4a62xG9Py3Idbq02Q&amp;_render=rss</param>
            </processor>
         </genericItemProvider>
      </pipelines>
      <settings>
         <setting name="GIP.SupportedDatabases" value="master" />
      </settings>
   </sitecore>
</configuration>
